%table.highlight#summary

  %tbody
    %tr
      %td Test URL:
      %td= @test.test_url
    %tr
      %td Number of respondents:
      %p= @test.answers.count
      %p= @test.questions[0].inspect
      %p= @test.questions[0].answers.count
      %td= @test.answers.where(question_id: @questions[0]).count
    %tr
      %td Number of questions:
      %td= @test.questions.count

%br
%br

%table.highlight#response-averages
  %thead
    %tr
      %th Question number
      %th Question
      %th Average response
  %tbody
  -@questions.each_with_index do |q, i|
    %tr
      %td= i+1
      %td= q.text
      %td= q.answers.inspect
