.row
  .col.s12
    %h3
      %strong= current_user.email[/[^@]+/]
      \ // Your Tests
    %hr

.row
  -@tests.each do |test|
    .col.s4
      .card
        .card-image.waves-effect.waves-block.waves-light
          = link_to image_tag(test.snapshot.url(:medium)), test_path(test.id)
        .card-content
          %span.card-title.activator.grey-text.text-darken-4
            =test.name
            %i.material-icons.right more_vert
          %p
            %a= link_to "View Report", report_path(test), class: "active"
        .card-reveal
          %span.card-title.grey-text.text-darken-4
            =test.name
            %i.material-icons.right close
          %p
            Number of respondents:
            =test.number_respondents
          %p
            Percentage completion:
            =test.complete_respondents
          %p
            Test score:
            =test.average_score
  .col.s4
    .card
      .card-image.waves-effect.waves-block.waves-light
        = link_to image_tag('add_test.png'), new_test_path
      .card-content#add-test-content
        %span.card-title.activator.grey-text.text-darken-4
          %a= link_to "New test", new_test_path
