.row#create-test-form
  .col.s8.offset-s2
    %h2 Create a new test
    = form_for @test do |f|
      .col.s12#test-form-col
      %h5 What is your test name?
      = f.text_field(:name, placeholder: "Your test name")
      %h5 What URL are you testing?
      %p
      Link to a hosted site by providing your website url. Alternatively, if your site is not hosted, simply link your file from Github,
      %br
      e.g.
      %em
        https://github.com/username/repo-name/blob/master/src/index.html
      = f.text_field(:test_url, placeholder: "URL for testing")
      %br
      %h5 What type of feature are you testing?
      = f.collection_radio_buttons :test_type_id, @test_types, :id, :description do |t|
        = t.radio_button
        = t.label
        %br
      %br
      %h5 What questions do you want to ask?
      %br
      = f.collection_check_boxes :question_ids, @questions, :id, :text do |q|
        = q.check_box
        = q.label
        %br
      %br
      = f.submit :class => "btn waves-effect waves-light"
