= form_for @test do |f|
  = f.text_field(:name)
  = f.text_field(:test_url, placeholder: "URL for testing")
  = f.select :test_type, options_for_select([[@test_types.description, @test_types.id]])
  = f.select :questions, options_for_select([[@question1.text, @question1.id]])
  = f.submit
