= form_for @test do |f|
  = f.text_field(:name, placeholder: "Your test name", :required => true)
  = f.text_field(:test_url, placeholder: "URL for testing", :required => true)
  = f.select :test_type_id, options_for_select(@test_types.map{ |t| [t.description, t.id] })
  %br
  = f.label "Choose the questions you'd like to ask:"
  %br
  = f.collection_check_boxes :question_ids, @questions, :id, :text do |q|
    = q.check_box
    = q.label
    %br
  = f.submit
