= form_for @test do |f|
  = f.text_field(:name, placeholder: "Name")
  = f.text_field(:test_url, placeholder: "URL for testing")
  = f.select :questions, options_for_select([[@question1.text,1], [@question2.text,2]])
  = f.submit
