.welcome
  %h1 Welcome!

  %p
    ="Thanks for participating in the '" +  @test.name + "' test."

  %p Here's how it works:

  %ol
    %li You'll be asked a series of questions
    %li Browse the site below, answer the question and hit next
    %li That's it!

  %button{href: "#", id: "start", value: 'Start'} Start

-@questions.each.with_index do |q, i|
  %div{class: "q#{i + 1}", style: "display:none"}
    %p="Question #{i + 1}"
    %p=q.text
    %input{type: "#{q.format}", id: "range#{i+1}", min: "0", max: "5", step: "1"}
    %input{type: "text", id: "comment#{i+1}", placeholder: 'Any other comments'}

%div{class: "q#{@questions.count - 1}"}
  .toggle_button
    %a{href: "javascript:void(0)", id: 'toggle', style: "display:none"} Next

%div{class: "q#{@questions.count}", style: "display:none"}
  .toggle_button
    %a{href: thanks_test_path, id: 'toggle', style: "display:none"} Finish

%iframe{allowfullscreen: "", id:"iframe", src: "#{@test.test_url}", width: "800", height: "600", style: "display:none"}
  %p Sorry, something seems to have gone wrong!
