.welcome
  %h1 Welcome!

  %p
    Thanks for participating in the test for
    = @test.name

  %p Here's how it works:

  %ol
    %li You'll be asked a series of questions
    %li Browse the site below, answer the question and hit next
    %li That's it!

  %button{href: "#", id: "start", value: 'Start'} Start


.q1{style: "display:none"}
  %p Question 1
  = @questions[0].text
  %input{type: "range", min: "0", max: "5", step: "1"}
.q2{style: "display:none"}
  %p Question 2
  = @questions[1].text
.q3{style: "display:none"}
  %p Question 3
  = @questions[2].text
.q4{style: "display:none"}
  %p Question 4
.q5{style: "display:none"}
  %p Question 5

.toggle_button
  %a{href: "javascript:void(0)", id: 'toggle', style: "display:none"} Next

%iframe{allowfullscreen: "", id:"iframe", src: "http://#{@test.test_url}", width: "800", height: "600", style: "display:none"}
  %p Sorry, something seems to have gone wrong!

%script
:javascript
  $(document).ready(function() {
    $("#toggle").click((function(){
      var counter = 1;
      return function()
      {
         $(".q" + counter).hide();
         counter = counter + 1;
         $(".q" + counter).show();
      }
      })());
    $("#start").click((function(){
      return function()
      {
         $("#iframe, .q1, #toggle").show();
         $(".welcome").hide();
      }
      })());
  });
