.test-container.z-depth-2
  .ux-buddy-text
    .questions_container
      .welcome
        %h3
          Welcome
          =image_tag 'ux_buddy_horiz.png', class: "right"
        %hr
        .col.12
          =render 'tests/welcome'

      .row#test-title

        .col.s12
          %h5
            %strong #{@test.name}
            \ // Your Feedback
            =image_tag 'ux_buddy_nav.png', class: "right"
        %hr
      .row#questions-div
        -@questions.each.with_index do |q, i|
          .col.s8
            .div{class: "q#{i + 1}", id:"test-question"}
              %h6="Question #{i + 1} of #{@questions.length}"
              %p=q.text
              .col.s8#slider-div
                .p.em Please provide your rating (0 = worst, 5 = best)
                %br
                .div{id: "range#{i+1}"}
          .col.s4
            %div{class: "q#{i + 1}", id:"test-comment"}
              %h6.strong Comments
              .input-field.col.s12#comment-div
                %textarea.materialize-textarea{type: "text", id: "comment#{i+1}", placeholder: 'Do you have any other comments?'}

        .col.s3.offset-s9
          %div{class: "q#{@questions.count - 1}"}
            .toggle_button
              %a.btn.waves-effect.waves-light{href: "javascript:void(0)", id: 'toggle'} Next

          %div{class: "q#{@questions.count}", style: "display:none"}
            .toggle_button
              %a.btn.waves-effect.waves-light{href: thanks_test_path, id: 'toggle'} Finish

.row#iframe-row
  .col.s12#iframe-div
    %iframe{allowfullscreen: "", id: "iframe", src: "#{@iframe_url}", class: "z-depth-4"}
      %p Sorry, something seems to have gone wrong!
