.welcome
  %h3
    %strong #{@test.name}
    \ // Welcome
  %hr

  %p.flow-text Thanks for participating in this User Experience test. Here's how it works:

  %ol.flow-text
    %li Click 'Start' and you'll see a site appear
    %li Answer the series of questions and feel free to add any comments
    %li Click 'Finish' to submit your answers, and that's it!

  %a.btn.waves-effect.waves-light.right{ href: "javascript:void(0)", id: 'start' } Start

.row#test-title
  .col.s12
    %h3
      %strong #{@test.name}
      \ // Your Feedback
    %hr
.row
  -@questions.each.with_index do |q, i|
    .col.s6
      %div{class: "q#{i + 1}", id:"test-question"}
        %h5="Question #{i + 1} of #{@questions.length}"
        %p=q.text
        %input{type: "#{q.format}", id: "range#{i+1}", min: "0", max: "5", step: "1"}
    .col.s6
      %div{class: "q#{i + 1}", id:"test-comment"}
        %h5 Comments
        .input-field.col.s12
          %textarea.materialize-textarea{type: "text", id: "comment#{i+1}", placeholder: 'Any other comments'}

  .col.s3.offset-s9
    %div{class: "q#{@questions.count - 1}"}
      .toggle_button
        %a.btn.waves-effect.waves-light{href: "javascript:void(0)", id: 'toggle'} Next

    %div{class: "q#{@questions.count}", style: "display:none"}
      .toggle_button
        %a.btn.waves-effect.waves-light{href: thanks_test_path, id: 'toggle'} Finish

.row#iframe
  %hr
  %iframe{allowfullscreen: "", src: "#{@test.test_url}", width: "800", height: "600"}
    %p Sorry, something seems to have gone wrong!
