.parallax-container#height-container
  .parallax.valign-wrapper#parallaxbox
    = image_tag('laptop.jpeg', class: "banner")
    .row
      .col.s12.front.center-align.valign
        = image_tag('logo_trans.png', class: "logo")
        %h3 Remote UX testing made easy
        %a.btn-large.waves-effect.waves-light{:href => new_test_path} Get started
#find-out-more
  = link_to :anchor => "section1", id:"chevron-btn" do
    = image_tag('chevron.png')
%a#section1
.section.grey.lighten-5.valign-wrapper

  .row.container
    .col.s6
      = image_tag('firstfeature.png', class: "feature")
    .col.s6.feature-copy
      %h2.header Meaningful research
      %p Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this shit while I'm in a transitional period so I don't wanna kill you, I wanna help you. But I can't give you this case, it don't belong to me.
.parallax-container
  .parallax
    = image_tag('notes.jpeg', class: "banner")
.section.grey.lighten-5.valign-wrapper
  .row.container.valign
    .col.s6.feature-copy
      %h2.header Gathers feedback
      %p Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this shit while I'm in a transitional period so I don't wanna kill you, I wanna help you. But I can't give you this case, it don't belong to me.
    .col.s6
      = image_tag('thirdfeature.JPG', class: "feature")
.parallax-container
  .parallax
    = image_tag('chocs.jpeg', class: "banner")
.section.grey.lighten-5.valign-wrapper
  .row.container.valign
    .col.s6
      = image_tag('secondfeature.png', class: "feature")
    .col.s6.feature-copy
      %h2.header Analyses results
      %i.large.material-icons insert_chart
      %p Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this shit while I'm in a transitional period so I don't wanna kill you, I wanna help you. But I can't give you this case, it don't belong to me.
