!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title UX Buddy
    = csrf_meta_tags
    = favicon_link_tag 'uxbuddy.ico'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons"

    %body
      = render 'layouts/nav'
      %main
        .container
          - flash.each do |key, value|
            %div{:class => "alert alert-#{key}"}= value

          = yield

      %footer.page-footer
        = render 'layouts/footer'
