!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title UX Buddy
    = csrf_meta_tags
    = favicon_link_tag 'uxbuddy.ico'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons"
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Raleway:bolditalic"
    = javascript_include_tag "https://www.google.com/jsapi"

    %body
      %header
        = render 'layouts/nav'
      %main

        .container
          - flash.each do |key, value|
            - value.split("/").each do |flash_text|
              :javascript
                var toast_colours = {
                  "notice": 'green',
                  "success": 'green',
                  "error": 'orange',
                  "alert": 'orange'
                };
                function toast_colour(flashKey) {
                  return toast_colours[flashKey];
                };
                $(function(){Materialize.toast("#{flash_text}", 8000, toast_colour('#{key}'));});

          = yield

      %footer.page-footer
        = render 'layouts/footer'
